.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #62666b;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav a:hover {
  text-decoration: underline;
}

.active-link {
  color: yellow;
  font-weight: bold;
  border-bottom: 2px solid yellow;
}